<table>
    <tbody>
        <tr>
            <td style='padding: 8px 0;'>
                <h1 style='margin: 0; font-size: 20px; color: #000 !important;'>Confirm this email address</h1>
            </td>
        </tr>

        <tr>
            <td>
                <hr size='4' color='#83BA63' />
            </td>
        </tr>

        <tr>
            <td style='padding: 8px 0;'>
                <p style='margin: 0; font-size: 13px; line-height: 20px; color: #000 !important;'>
                    Hello {FirstName},  <br />
                    Please confirm this email address and you will be able to sign in to your new account using it.
                    If you have not tried to register with this email address, please contact us.
                </p>
            </td>
        </tr>
        <tr>
            <td style='padding: 8px 0;'>
                <a href='{ConfirmationLink}' style='display: inline-flex; padding: 10px 40px; background: #2CAEFF; color: #fff; text-decoration: none; font-weight: bold;'>Confirm Email</a>
            </td>
        </tr>
        <tr>
            <td style='padding: 8px 0;'>
                <p style='opacity: 0.75; color: #000 !important; font-size: 11px'>
                    We do not check this mailbox, so please do not reply to this message. <br /> <br /> <br />
                    
                    Legal Notice: <br /> <br /> 
                    Yugram Xashvalt <br /> <br /> <br />
                    
                    Contact: <br /> <br />
                    Phone number: +99 123 45 67 <br /> <br />
                    Fax: +49 7251 9235335 <br /> <br />
                    Email: example@gmail.com <br /> <br />
                </p>
            </td>
        </tr>
    </tbody>
</table>